# ==================================================
# Application Settings
# ==================================================
APP_ENV=development              # Application environment (development | staging | test | production)
PROJECT_NAME="Web Assistant"     # Human-readable project name
VERSION=1.0.0                    # Application version
PROJECT_ROOT="root/project"      # Project Root
DEBUG=true    